* {
  box-sizing: border-box;
}

body {
  background-color: #00303f;
}

.noItemsDiv {
  color: black;
  background-color: whitesmoke;
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}
